<div class="main-sidebar">
    <div class="sidebar-header">
        <h2>Dev-Diary</h2>
        <p>개발자용 다이어리</p>
    </div>
    
    <nav class="sidebar-nav">
        <ul class="nav-list">
            <li class="nav-item active" data-page="todo">
                <a href="#" class="nav-link">
                    <div class="icon icon-active icon-todo"></div>
                    <span class="nav-text">Todo List</span>
                </a>
            </li>
            <li class="nav-item" data-page="git">
                <a href="#" class="nav-link">
                    <div class="icon icon-git"></div>
                    <span class="nav-text">Git 관리</span>
                </a>
            </li>
            <li class="nav-item" data-page="notion">
                <a href="#" class="nav-link">
                    <div class="icon icon-notion"></div>
                    <span class="nav-text">Notion</span>
                </a>
            </li>
            <li class="nav-item" data-page="diary">
                <a href="#" class="nav-link">
                    <div class="icon icon-diary"></div>
                    <span class="nav-text">일기장</span>
                </a>
            </li>
            <li class="nav-item" data-page="calendar">
                <a href="#" class="nav-link">
                    <div class="icon icon-calendar"></div>
                    <span class="nav-text">캘린더</span>
                </a>
            </li>
            <li class="nav-item" data-page="devlog">
                <a href="#" class="nav-link">
                    <div class="icon icon-dev-log"></div>
                    <span class="nav-text">Dev Log</span>
                </a>
            </li>
            <li class="nav-item" data-page="dashboard">
                <a href="#" class="nav-link">
                    <div class="icon icon-dash-board"></div>
                    <span class="nav-text">대시보드</span>
                </a>
            </li>
            <li class="nav-item" data-page="snippets">
                <a href="#" class="nav-link">
                    <div class="icon icon-snippet"></div>
                    <span class="nav-text">코드 스니펫</span>
                </a>
            </li>
            <li class="nav-item" data-page="timer">
                <a href="#" class="nav-link">
                    <div class="icon icon-time-trace"></div>
                    <span class="nav-text">시간 추적</span>
                </a>
            </li>
            <li class="nav-item" data-page="statistics">
                <a href="#" class="nav-link">
                    <span class="nav-icon">📊</span>
                    <span class="nav-text">통계/리포트</span>
                </a>
            </li>
        </ul>
    </nav>
    
    <div class="sidebar-footer">
        <div class="user-info">
            <div class="user-avatar">👨‍💻</div>
            <div class="user-name">Developer</div>
        </div>
    </div>
</div>